<div class="vv-footer d-md-flex flex-md-row align-items-center">
    <div class="justify-content-md-start flex-md-grow-1 d-none d-md-inline">
        <img src="images/logo-equals.svg" alt="Equals" />
    </div>
    
    <div class="pe-md-5">
        <label>www.equals.com.br • @DateTime.Today.Year</label>
    </div>
    
    <div class="pe-3 d-none d-md-inline">
        <img src="images/icon-instagram.svg" alt="Facebook" />
    </div>
    
    <div class="pe-3 d-none d-md-inline">
        <img src="images/icon-twitter.svg" alt="Facebook" />
    </div>
    
    <div class="d-none d-md-inline">
        <img src="images/icon-facebook.svg" alt="Facebook" />
    </div>
</div>

@code {
    
}