<div class="vv-header d-flex flex-row align-items-center" style="background-color: @BackgroundColor">
    <div class="justify-content-start flex-grow-1">
        <img src="images/logo-equals.svg" alt="Equals" />
    </div>
    
    <div class="pe-3">
        <img src="images/icon-instagram.svg" alt="Facebook" />
    </div>
    
    <div class="pe-3">
        <img src="images/icon-twitter.svg" alt="Facebook" />
    </div>
    
    <div>
        <img src="images/icon-facebook.svg" alt="Facebook" />
    </div>
</div>

@code 
{
    [Parameter]
    public string? BackgroundColor { get; set; }

    protected override void OnParametersSet()
    {
        if (string.IsNullOrEmpty(BackgroundColor))
            BackgroundColor = "transparent";
    }
}