.input-field {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.input-field label {
    margin-left: 0.75rem;
    position: absolute;
    top: -0.45rem;
    font-size: 0.625rem;
    background-color: #ffffff;
    color: #8D98A4;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.input-field input
{
    padding-top: 0.5rem;
    border-color: #C3CEDA !important;
    color: #495C6F !important;
    border-radius: 0.25rem !important;
    font-size: 0.875rem;
    height: 3rem;
}
    .input-field input:focus 
    {
        border-color: #003251;
        box-shadow: 0 0 0 0.1rem #003251 !important;
    }